#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
<<<<<<< Updated upstream
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
=======
  background-color: rgb(0, 0, 255, 0.1);
>>>>>>> Stashed changes
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
<<<<<<< Updated upstream
=======

.flex {
  display: flex;
}

.direction-row {
  flex-direction: row;
}

.a-center {
  align-items: center;
}
.j-around {
  justify-content: space-around;
}

.m-t-20 {
  margin-top: 20px;
}

.work-logo {
  height: 100%;
  padding-left: 2%;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.side-animation.animate-job {
  animation:
    slideRight 2s ease 0s 1 normal forwards,
    fade 1s ease 0s 1 normal forwards;
}
.side-animation {
  margin-top: 50px;
  background-color: rgba(137, 207, 240, 1);
  height: 200px;
  padding: 10px;
  clip-path: polygon(0% 0%, 20% 0%, 25% 50%, 20% 100%, 0% 100%);
  border-radius: calc(var(--radius) + 4px);
}

.side-animation:hover {
  background-color: rgba(137, 207, 240, 0.8);
}

.box {
  background-color: rgba(137, 207, 240, 0.3);
  border-radius: calc(var(--radius) + 4px);
  height: 100%;
}

.work-card {
  margin-top: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content-card {
  background-color: rgba(0, 0, 255, 0.1);
  animation: fadeIn 2s ease 0s 1 normal forwards;
}

.profile-pic {
  height: 450px;
  width: 350px;
  border-radius: 25%;
  object-position: center;
}

.intro {
  font-size: 30px;
}
>>>>>>> Stashed changes
