
@reference "./index.css";

#root {
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.job-name.fade {
  animation: fade .5s ease 0s 1 normal forwards;
}


.side-animation.animate-job {
  animation:
    slideRight 1s ease 0s 1 normal forwards,
    fade .5s ease 0s 1 normal forwards;
}

.side-animation:hover {
  background-color: rgba(137, 207, 240, 0.8);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content-card {
  background-color: rgba(0, 0, 255, 0.1);
  animation: fadeIn 1s ease 0s 1 normal forwards;
}

.intro {
  font-size: 30px;
}

@keyframes rotate45 {
  25% {
    rotate: -20deg;
  }
  75% {
    rotate: 20deg;
  }
}

.lang-flag:hover {
  animation: rotate45 3s linear infinite forwards;
  cursor: pointer;
}
